.flex{
  display : flex;
}

.justify{
  justify-content: center;
}

.justify_end{
  justify-content: flex-end;
}

.align_items_center{
  align-items: center;
}

.w-100{
  width: 100%;
}

.block{
  display: block
}